<!--
 * @Description: 
 * @Author: hairyOwl
 * @Date: 2022-05-13 10:30:36
 * @LastEditors: hairyOwl
 * @LastEditTime: 2022-05-13 16:45:05
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="root"></div>
</body>
<script>
    //v-for="(item , index) of list" 循环体
    Vue.createApp({
        data(){
            return{
                inputValue:'',
                list :[],
            }
        },
        methods: {
            //添加 
            handleAddItem(){
                this.list.push(this.inputValue);
                this.inputValue = ''; //清空输入框
            }
        },
        template:`
            <div>
                <ul>
                <li v-for="(item , index) of list">{{index}} : {{ item}} </li>
                </ul>    
            </div>

            <input v-model="inputValue"/> &nbsp;
            <button v-on:click="handleAddItem">添加</button>
        `,
    }).mount('#root');
</script>
</html>